@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,600italic,700,800,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/*--------------------*/
body {
  height: 100%;
  color: #2C1500;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 169%;
  background-color: #FFFFFF;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  flex: 1 1 auto;
}

[data-fullscreen] {
  height: 100vh;
}
.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=__image-ibg] {
  position: relative;
}
[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  min-height: 36px;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  z-index: 5;
}
.header__menu {
  display: flex;
}

.menu__item-icons {
  margin-right: 8px;
}
.menu__list {
  display: flex;
  margin: 0 8px 0 0;
}
.menu__link {
  padding: 8px 20px;
  background: #FFFFFF;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: #156963;
}
.menu__link:hover {
  background: #156963;
  color: #FFFFFF;
}
.menu__link-icon img {
  width: 1.25em;
  height: 1.25em;
}

.menu__link-icon + .menu__link-icon {
  margin-left: 2.5rem;
}

.burger {
  display: none;
}

@media (max-width: 29.99875em) {
  .burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
  }
  .burger::before, .burger::after,
.burger span {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #156963;
  }
  .burger::before {
    top: 0px;
  }
  .burger::after {
    bottom: 0px;
  }
  .burger span {
    top: 50%;
  }

  .burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }

  .menu._active {
    left: 0;
  }

  .menu__list {
    flex-direction: column;
  }
  .menu :not(:last-child) {
    margin-bottom: 1.875rem;
  }
  .menu a {
    font-weight: 700;
    font-size: 1.25rem;
  }
  .menu__link-icon img {
    width: 1.5625em;
    height: 1.5625em;
  }
}
.footer {
  min-height: 16.75em;
  padding: 3.75rem 0;
}
.footer__container {
  display: flex;
  justify-content: center;
  gap: 5em;
  flex-wrap: wrap;
}
.footer__item {
  max-width: 282px;
}
.footer__item h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 20px;
}
.footer__item h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #156963;
  margin-bottom: 24px;
}
.footer__item p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 154%;
  color: #4F4F4F;
  margin-bottom: 14px;
}
.footer input {
  padding: 8px 13px;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  margin-bottom: 14px;
}
.footer__submit {
  padding: 4px 13px;
  color: #FFFFFF;
  background: #156963;
  backdrop-filter: blur(10px);
  border-radius: 2px;
}

@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
.page__slider {
  max-width: 1280px;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
}

.slider {
  display: flex;
}

.slide {
  display: flex;
  flex-wrap: wrap;
}
.slide__img {
  width: 38em;
  height: 46.25em;
}
.slide__text {
  flex: 1 0 50%;
  padding-top: 110px;
  padding-left: 77px;
}
@media (max-width: 1168px) {
  .slide__text {
    padding-top: calc(70px + 40 * ((100vw - 320px) / 848));
  }
}
@media (max-width: 1168px) {
  .slide__text {
    padding-left: calc(15px + 62 * ((100vw - 320px) / 848));
  }
}
.slide__text :not(:last-child) {
  margin: 0 0 24px 0;
}
.slide__text h1 {
  font-weight: 500;
  font-size: 68px;
  line-height: 122%;
  color: #156963;
}
@media (max-width: 1168px) {
  .slide__text h1 {
    font-size: calc(30px + 38 * ((100vw - 320px) / 848));
  }
}
.slide__text p {
  font-size: 1.125rem;
  line-height: 178%;
  color: #2C1500;
}

.buttons {
  position: absolute;
  display: flex;
  top: 78.65%;
  left: 53.9%;
}
.buttons__item {
  z-index: 20;
  max-width: 320px;
  max-height: 160px;
  padding: 49px 39px;
}
.buttons__item:hover {
  background: #156963;
}
.buttons__item:hover h2 {
  color: #FFFFFF;
}
.buttons__icon {
  color: #333333;
  display: flex;
  justify-content: start;
}
.buttons p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #F2F2F2;
}
.buttons h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #156963;
}
.buttons__title {
  margin-top: 12px;
}

@media (max-width: 1140px) {
  .buttons {
    position: static;
    margin-top: 20px;
    justify-self: center;
  }
}
@media (max-width: 47.99875em) {
  .slide {
    flex-direction: column;
    align-items: center;
  }
  .slide__img {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }
}
.advantages {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  flex-wrap: wrap;
  padding-top: 142px;
  padding-bottom: 80px;
}
@media (max-width: 1168px) {
  .advantages {
    padding-top: calc(20px + 122 * ((100vw - 320px) / 848));
  }
}
@media (max-width: 1168px) {
  .advantages {
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / 848));
  }
}
.advantages__item {
  max-width: 268px;
  min-height: 155px;
  padding: 22px 15px;
}

.item {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  max-width: 268px;
  min-height: 155px;
}
.item__title {
  display: flex;
}
.item__h2 {
  max-width: 137px;
  height: 48px;
  margin-bottom: 16px;
}
.item__h2 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #156963;
}
.item__text p {
  pfont-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 160%;
  color: #2C1500;
}
.item__img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.featuredPlants {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}
.featuredPlants__title p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.card {
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
.card p {
  line-height: 1.25rem;
  text-align: center;
  color: #000000;
}
.card__item {
  max-width: 217px;
  min-height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__item :not(:last-child) {
  margin: 0 0 16px 0;
}
.card__img {
  position: relative;
  width: 217px;
  height: 217px;
}
.card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__text {
  text-align: center;
}
.card__price {
  text-align: center;
}
.card__price p {
  font-weight: 600;
}

.buyMorePlants {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
}
@media (max-width: 1168px) {
  .buyMorePlants {
    padding-top: calc(20px + 60 * ((100vw - 320px) / 848));
  }
}
@media (max-width: 1168px) {
  .buyMorePlants {
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / 848));
  }
}
.buyMorePlants__content {
  flex: 0 1 44%;
}
.buyMorePlants__title {
  margin: 0 0 16px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
}
@media (max-width: 1168px) {
  .buyMorePlants__title {
    font-size: calc(24px + 16 * ((100vw - 320px) / 848));
  }
}
.buyMorePlants__text {
  line-height: 175%;
  opacity: 0.8;
  margin-bottom: 74px;
}
@media (max-width: 1168px) {
  .buyMorePlants__text {
    margin-bottom: calc(24px + 50 * ((100vw - 320px) / 848));
  }
}
.buyMorePlants__img-2 {
  max-width: 35.5em;
  min-height: 15.625em;
}
.buyMorePlants__img-1 {
  flex: 1 1 44%;
  max-width: 32.0625em;
  min-height: 38.125em;
}

@media (max-width: 47.99875em) {
  .buyMorePlants {
    flex-direction: column;
  }
}
.favouritesPlant {
  min-height: 360px;
  background: #F3F4F6;
  overflow: hidden;
}
.favouritesPlant__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 945px;
  margin: 0 auto;
}
.favouritesPlant__content {
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (max-width: 1168px) {
  .favouritesPlant__content {
    padding-top: calc(20px + 68 * ((100vw - 320px) / 848));
  }
}
@media (max-width: 1168px) {
  .favouritesPlant__content {
    padding-bottom: calc(20px + 68 * ((100vw - 320px) / 848));
  }
}
.favouritesPlant__title {
  max-width: 583px;
  margin-bottom: 2rem;
}
.favouritesPlant__button a {
  font-family: Nunito;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 143%;
  text-align: center;
  color: #FAFEFE;
  padding: 10px 42px;
  background: #156963;
}
.favouritesPlant__img {
  transform: translate(20%, 10%);
  position: relative;
  width: 30em;
  height: 22.5em;
}
.favouritesPlant__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

@media (max-width: 640px) {
  .favouritesPlant__body {
    flex-direction: column;
    align-items: center;
  }
  .favouritesPlant__content {
    margin-bottom: 20px;
  }
  .favouritesPlant__img {
    transform: translate(0, 0);
  }
}
.line {
  margin: 30px 0 36px 0;
  background: #C4C4C4;
  height: 14px;
}

.page {
  min-width: 100%;
}

a {
  color: inherit;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  color: #2C1500;
}
@media (max-width: 1168px) {
  h1 {
    font-size: calc(24px + 16 * ((100vw - 320px) / 848));
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
